<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Read more</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="/static/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="/static/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesoeet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" media="screen">

</head>
<body>
	<!-- header section start-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="logo" href="#"><img src="/static/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('index') }}">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('advancesearch') }}">ADVANCED SEARCH</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('aboutus') }}">ABOUT US</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="templates/more.html">MORE</a>
				</li>
			</ul>
		</div>
        
    </nav>
  <!-- header section end-->
  <div class="services_section">
    <div class="container">
      <h1 class="services_text">Financial news</h1>
    </div>
  </div>
  <div class="services_section_2 layout_padding">
    <div class="container">
        <h1 class="article_headline">Jim Cramer: Diageo, Anheuser-Busch, Monster Worldwide, Google</h1>
   
        <p>
            Jim Cramer  recommended that viewers
            buy shares of liquor maker  Diageo Plc (DGE)  because of its dividend
            and its growth in  China .
            Diageo is similar to  Guess? Inc. (GES)  as a ``company that preys
            on natural human weakness,'' said Cramer, a market commentator
            and former hedge-fund manager on his ``Mad Money'' television
            program on CNBC.
            ``Think of Diageo as  Philip Morris  with a great dividend
            and no tobacco,'' he said.
            In response to a caller, Cramer said to avoid Anheuser-Busch Co. because he expects it to report a weak quarter.
            Monster Worldwide Inc. (MWW)  stock is cheaper than it should be
            because of a  stock options  backdating investigation and concerns
            about a weak job market, Cramer said.
            He said Monster may be a takeover target for  Yahoo! Inc. (YHOO)  if
            Yahoo tries to grow through acquisitions. Other possible targets
            include Bankrate Inc. and Knot Inc., he said. Yahoo needs to
            grow to compete with  Google Inc. (GOOG) , he said.
            In an interview with Chicago Bears player Muhsin Muhammad,
            Cramer said he liked Muhammad's portfolio of  FedEx Corp. (FDX) ,  Exxon
            Mobil Corp. (XOM) ,  International Business Machines Corp. (IBM) ,  Bank of
            America Corp. (BAC)  and  MetLife Inc. (MET)  He also said the portfolio was
            well diversified.
            Oregon Steel Mills
            Based on  Union Pacific Corp. (UNP) 's statement that shipment of
            steel pipe had increased, investors should buy Oregon Steel
            Mills Inc. before the company reports earnings, Cramer said.
            He said to buy stock in  Alaska Air Group Inc. (ALK)  based on
            strong quarters at  AMR Corp. (AAMRQ)  and Continental Airlines Inc. He
            said  Corning Inc. (GLW)  is likely to rise after it reports earnings,
            based on  3M Co. (MMM)  saying that liquid-crystal display trends are
            positive.
            He said to buy shares of  Comcast Corp. (CMCSA)  before the company
            reports earnings and to buy shares of General Motors Corp. if
            they decline after Ford Motor Co. reports earnings Oct. 23.
            He said to avoid  Bristol-Myers Squibb Co. (BMY)
            Cramer recommended ASV Inc., Bare Escentuals Inc.,  Oracle
            Corp. (ORCL) , Merck &amp; Co.,  SAIC Inc. (SAI) , DivX Inc.,  Akamai Technologies
            Inc. (AKAM) , Apple Computer Inc.,  Under Armour Inc. (UA) ,  Mattel Inc. (MAT) ,  BB&amp;T
            Corp. (BBT)  and  Wells Fargo &amp; Co. (WFC) , in response to questions during the
            show's ``Lightning Round'' segment.
            He told viewers to avoid  Occidental Petroleum Corp. (OXY) , Dow
            Chemical Co.,  Commvault Systems Inc. (CVLT) ,  Broadcom Corp. (BRCM)  and  Sony
            Corp. (6758)
            To contact the reporter on this story:
            Steven Bodzin in  San Francisco  at
            sbodzin@bloomberg.net .
            To contact the editor responsible for this story:
            Aimee Sullivan at   asullivan@bloomberg.net .
        </p>

    </div>
    </div>
  <!-- footer section start-->
  <div class="footer_section layout_padding">
    <div class="container">
      
    </div>
  </div>
  <!-- footer section end-->
  <!-- copyright section start-->
  <div class="copyright_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <p class="copyright_text">Copyright &copy; 2022.TTDS Group 45 All rights reserved.</p>
        </div>
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
  </div>
  <!-- copyright section end-->


    <!-- Javascript files-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <script src="/static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="/static/js/owl.carousel.js"></script>
      <script src="/static/js/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         </script>


     
</body>
</html>