<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Read more</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="/static/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="/static/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesoeet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" media="screen">

</head>
<body>
	<!-- header section start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="logo" href="https://www.ed.ac.uk/"><img src="/static/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('advancesearch') }}">ADVANCED SEARCH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('aboutus') }}">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('more') }}">MORE</a>
                </li>
            </ul>
        </div>
    </nav>
  <!-- header section end-->
  <div class="services_section">
    <div class="container">
      <h1 class="services_text">Financial news</h1>
    </div>
  </div>
  <div class="services_section_2 layout_padding">
    <div class="container">
        <h1 class="article_headline">Ex-Plant Worker Shuster Pleads Guilty in Trading Case</h1>
   
        <p>
            A former worker at a  Wisconsin
            printing plant pleaded guilty to charges that he leaked the
            names of stocks mentioned in Business Week before the magazine
            was mailed out.
            Nickolaus Shuster, who worked at Quad Graphics Inc. in
            Sussex, Wisconsin, told a judge today in  Manhattan  federal court
            that he tipped two other people, whom he didn't name, to the
            names of the stocks that were to be favorably mentioned in the
            Inside Wall Street column.
            ``I would steal pre-publication copies of Business Week and
            call these two people and relay to them the contents of the
            Inside Wall Street columns,'' Shuster, 25, told U.S. Magistrate
            Judge Debra Freeman. Shuster, who pleaded guilty to conspiracy
            and securities fraud, will be sentenced in January.
            The guilty plea is the third in what prosecutors said was a
            three-prong conspiracy involving two ex-employees at Goldman
            Sachs Group Inc., Eugene Plotkin and David Pajcin.
            In Wisconsin, Shuster stole advance copies of Business Week
            for Plotkin and Pajcin, prosecutors said. In  New York , former
            Merrill Lynch &amp; Co. mergers analyst Stanislav Shpigelman, who
            pleaded guilty in July, leaked secret information about a
            pending deal to the pair, authorities said.
            In Newark,  New Jersey ,  Jason Smith , a mailman sitting on a
            grand jury, tipped Pajcin and Plotkin to details of a
            confidential U.S. probe of Bristol-Myers Squibb Co. accounting,
            prosecutors said. Smith pleaded guilty in August.
            ``I knew what I was doing was wrong,'' Shuster said.
            Union Square
            Shuster told Freeman that, during an October 2004 meeting
            in the  Union Square  section of Manhattan, his two conspirators
            asked him to travel to Wisconsin and get a job at the Business
            Week plant.
            In January 2005, one of Shuster's conspirators bought 3,500
            shares of Arbitron Inc., the biggest radio-ratings supplier in
            the U.S., after learning of a forthcoming mention in the column,
            Assistant U.S. Attorney  Benjamin Lawsky  said in court.
            Shuster agreed to forfeit $20,000 paid to him as part of
            the scheme. The judge said Shuster, who previously lived in New
            Jersey, has been cooperating with prosecutors. Charges are
            pending against a second printing-plant worker, Juan Renteria,
            along with Plotkin.
            Pajcin has been cooperating with investigators.
            New York-based Merrill Lynch is a passive, minority
            investor in Bloomberg LP, the parent of  Bloomberg News .
            The case is U.S. v. Shuster, 06-cr-389, Southern District
            of New York.
            To contact the reporter on this story:
            David Glovin at the federal courthouse in New York at
            dglovin@bloomberg.net .
            To contact the editor responsible for this story:
            Patrick Oster at   poster@bloomberg.net .
        </p>

    </div>
    </div>
  <!-- footer section start-->
  <div class="footer_section layout_padding">
    <div class="container">
      
    </div>
  </div>
  <!-- footer section end-->
  <!-- copyright section start-->
  <div class="copyright_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <p class="copyright_text">Copyright &copy; 2022.TTDS Group 45 All rights reserved.</p>
        </div>
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
  </div>
  <!-- copyright section end-->


    <!-- Javascript files-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <script src="/static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="/static/js/owl.carousel.js"></script>
      <script src="/static/js/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         </script>


     
</body>
</html>